# Gmail Credentials
GMAIL_USER=your_email@gmail.com
GMAIL_PASSWORD=your_app_password

# InfluxDB UDP Configuration
INFLUX_HOST=127.0.0.1
INFLUX_PORT=8089

# Measurement configuration (Optional, has defaults in main.go)
# TIMEZONE=Europe/Vienna
# MEASUREMENT_NAME=energy_usage
